.nav-link{
  text-decoration: none;
  border: 1px solid black;
  color:#88FF04;
  height: 100%;
  line-height: 100px;
  font: 44px sans-serif;
  
  
  &_active{
    background-color:  rgb(117, 117, 117);
  }

}
