.point-name {
  width: 100%;
  background: #525050;
  padding: 20px;
  color: white;
  
  &__title{
    font-weight: normal;
    font-size: 24px;
    color: white;
  }

  &__adress{
    margin-top: 5px;
    color: #DDD;
    font-weight: normal;
    font-size: 18px;
  }
}

.point {

  .nav-link{
    display: flex;
    padding: 10px  0 10px 20px;
    text-decoration: none;
    font-size: 24px;
    
    &_back{
      display: flex;
      align-items: center;
      color: #88FF04;

      .arrow {
        margin-right: 5px;
        border-color: #88FF04;
      }

      &:hover {
        .arrow {
          border-color: #4F9502;
        }
        color: #4F9502;
      }
    }
  }
}

.point-worktime {
  display: flex;
  align-items: baseline;
  padding: 10px 20px 20px 20px;

  .unknown {
    color: #DDD;
    font-size: 24px;
  }

  &__title {
    margin-right: 10px;
    font-weight: normal;
    font-size: 24px;
  }

  &__list {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }

  .worktime-list {
    font-size: 18px;
    list-style: none;
    margin-right: 15px;

    li {
      color: #DDD;

      &:nth-child(n + 2) {
        display: none;
      }
    }
    
    & ~ .arrow {
      transition: all .5s;
    }

    &_open {
      li {
        &:nth-child(n + 2) {
          display: block;
        }
      }
      & ~ .arrow {
        transform: translate(0, 50%) rotate(-135deg);
        transition: all .5s;
      }
    }
  }
}

.materials {
  padding: 10px 0 10px 20px;

  &__title {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 24px;
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    list-style: none;
    padding: 5px;

    li {
      margin-right: 30px;

      &::before {
        content: "\2022";
        display: inline-block; 
        width: 1em;
        margin-left: -1em;
        color: #4F9502;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

.inwork {
  padding: 20px;
  height: 30vh;

  &__title {
    font-weight: normal;
    margin-bottom: 20px;
  }

  &__message {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DDD;
    border-radius: 5px;
    height: 100%;
  }
}