* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans;
  color: #525050;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;

&_right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

&_left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

&_up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

&_down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
}

.nav-link, button {
  cursor: pointer;
}